*{
    font-family: Montserrat,serif;
}

img{
    width: 300px;
    height: 250px;
}


div div button{
    width: 70px;
    height: 30px;

}

#mainDiv{
    margin-top: 25px;

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.mainDiv div {
    width: calc(100%/4);
    display: flex;
}

.name_{
    background: #55c3b6;
    color: white;

    width: 80%;
    height: 36px;

    font-weight: 600;
    font-size: 20px;

    letter-spacing: 3px;

    text-align: center;

    display: flex;

    justify-content: center;
    align-items: center;

}

.amount{
    margin-top: 10px;
    margin-bottom: 5px;

    height: 25px;
    width: 70%;

    display: flex;

    align-items: center;

    background: #ead2ee;


    font-weight: 500;
}

.priceNum{
    border-bottom: #e33264 solid 2px;
}

.priceNum:hover{

    color: #e33264;

    font-weight: 600;
}

.price{
    margin-bottom: 10px;
    margin-top: 10px;

    font-size: 18px;

    color: #6f679b;
}

a{
    text-decoration: none;

    font-size: 50px;

    color: #8f2140;

}

#all{

    margin-top: 50px;
    width: 150px;
    height: 100px;

    font-size: 30px;

    right: 0;
}
